@model List<Final401.Models.ScheduleItem>

@{
    ViewData["Title"] = "Activity";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


@if (Model == null)
{
    <h3 style="color: red">No recent activity found.</h3>

}
else
{
    @foreach (var item in Model)
    {
        <table>
            <tr>
                <td>Name: @item.Title</td>
                <td> Level: @item.StartTime</td>
            </tr>
        </table>
    }
}