@model List<Final401.Models.ScheduleItem>

@{Layout = "_Layout";}

<h2>@ViewData["Title"]</h2>



<table>
    <thead>
        <tr>
            <th>
                Date of Event
            </th>
            <th>
                Content
            </th>
        </tr>
        @foreach (ScheduleItem k in Model)
        {

        }
    </thead>
</table>