@{
    ViewData["Title"] = "Bot Testing";
}
<h2>@ViewData["Title"]</h2>


<div>
    <div >
        <p>Webchat test</p>
        <iframe src='https://webchat.botframework.com/embed/BotScheduler?s=TMMeKHVLqG8.cwA.qS4.xdC1lt_laRL_1BgdUBwRn1JoGRONYjc9LKtcJcsYPLE' style="height: 350px; float: left;"></iframe>
        <p>Commands:</p>
        <p>Get schedule for today: "&#64bot202 canvas today"</p>
        <p>Get schedule for this week: "&#64bot202 canvas week"</p>
    </div>


    <div>
        <p style="clear: both">Test in alternate channels</p>

        <p>Skype Test</p>

        <a href='#'><img src='https://dev.botframework.com/Client/Images/Add-To-Skype-Buttons.png' /></a>


        <p>Slack Test</p>
        <a href="https://slack.com/oauth/authorize?scope=bot&client_id=412939014022.411400150820&redirect_uri=https%3a%2f%2fslack.botframework.com%2fHome%2fauth&state=JesseTestBotNoLuis"><img height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
    </div>
</div>
