@model Final401.Models.LoginViewModel

@{Layout = "_Layout";}

<head>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>

<form method="post" asp-controller="Account" form-action="Login">

    <label asp-for="Email">Email</label>
    <br />
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Password">Password</label>
    <br />
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <button type="submit">Login</button>

</form>
