
$Font: 'Raleway', sans-serif;
$Font-Size: 3em;

$Primary: Navy;
$Secondary: Yellow;
$Tertiary: Green;
$Quadrary: Violet;

$Black: black;
$White: white;
$Gray: rgba(0, 0, 0, 0.2);

$Background: linear-gradient(90deg, #16222A 10%, #3A6073 90%);
