
$Font: 'Raleway', sans-serif;
$Font-Size: 3em;

$Primary: Navy;
$Secondary: Yellow;
$Tertiary: Green;
$Quadrary: Violet;

$Black: black;
$White: white;
$Gray: rgba(0, 0, 0, 0.2);

$Background: linear-gradient(90deg, #16222A 10%, #3A6073 90%);

*{
    box-sizing: border-box;
}

body{
    background: $Background;
    height: 100vh;
    text-align: center;
}

main{
    margin-top: 2em;
    text-align: center;
}

a{
    text-decoration: none;
}

footer{
    margin-top: 5em;
}
#AccountDiv {
    position: absolute;
    right: 1em;
    top: 20vh;

    a{
        color: $White;
        font-size: 1em;
        text-decoration: none;
    }
}
