/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* Fix spacing for login module */
.spacing {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Alignment for login module */
.middlePage {
    display: inline;
    width: 80%;
    height: 15%;
    margin: auto;
}

/* Logo to Login Module*/
.logo {
    color: #CCC;
}
.panel-info{
    width: 80%;
    margin: auto;
}
.page-header {
    padding-left: 10%;
}
.loginfix{
    padding-top: 0px;
    margin-top: 0px;
}

/* Cool Gradient Colors for login */
#loginView {
    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
    font-family: 'Raleway', sans-serif;
}